{% extends 'content/base.html' %}
{% load templatetags %}

{% block content %}
    <div class="container">
        <div class="row row-cols-auto">
            <div class="col-md-8">
                {% include 'subscription/includes/inc_subs_button_detail.html' %}
                <div class="row pt-3">
                    <div class="col-11">
                        <h4 class="gap-3 pt-2">
                            {{ object.title }}
                        </h4>
                    </div>
                    <div class="col-1">
                        <div class="pt-2 d-grid justify-content-end ">
                            <button class="btn btn-outline-primary rounded rounded-5"
                                    type="button">
                                Like
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-auto bg-body position-relative">
                        <img src="{% mediapath object.owner.avatar %}"
                             alt="{% mediapath 'default/NoneUser.png' %}"
                             width="40"
                             height="40" class="rounded-circle">
                        <a href="{%  url 'users:user_detail' object.owner.pk %}" class="stretched-link"></a>
                    </div>
                    <div class="col-3">
                        <div class="row g-0 bg-body position-relative">
                            <div class="fs-6 fw-semibold">{{ object.owner.username }}</div>
                            <small class="fw-lighter">Количество подписчиков: {{ sub.subs_count }}
                            </small>
                            <a href="{%  url 'users:user_detail' object.owner.pk %}" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="col-auto d-md-block">
                        {% if user.is_authenticated %}
                            <div class="d-grid gap-2 d-md-block">
                                {% include 'subscription/includes/inc_subscribe.html' %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="rounded-3 bg-light p-3">
                    <p>
                        Опубликовано {{ object.date_update.date }}
                        Просмотров: {{ object.view_count }}
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="text">
                            {{ object.description | linebreaksbr | urlizetrunc:40 }}
                        </div>
                    </div>
                    <p>
                        <a class="link-secondary text-md-end"
                           data-bs-toggle="collapse"
                           href="#collapseExample" role="button"
                           aria-expanded="false"
                           aria-controls="collapseExample"
                           data-target="#services"
                           id="show"><span>Описание</span>
                        </a>
                    </p>
                </div>
                <form>
                    <div class="row pt-3 d-flex justify-content-end">
                        <div class="mb-3 col-12">
                            <input type="text" id="disabledTextInput"
                                   class="form-control"
                                   placeholder="Оставьте комментарий...">
                            <a class="link" href="#"></a>
                        </div>
                    </div>
                </form>
                <div>
                    <div class="row pt-3">
                        <div class="col-auto">
                            <img src="https://github.com/mdo.png" alt="{% mediapath 'default/NoneUser.png' %}"
                                 width="32"
                                 height="32" class="rounded-circle">
                        </div>
                        <div class="col-auto g-0 bg-body position-relative">
                            <span class="fw-normal align-bottom">Автор</span>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="col-auto">
                            <span class="fw-lighter align-bottom">Время</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">
                            <p class="fw-light bg-light rounded p-3">
                                Комментарий</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% for content in play_list %}
                    <div class="mb-1" href=""
                         style="width: 24rem;">
                        <div class="row bg-body position-relative">
                            <div class="col-md-5 ratio ratio-16x9">
                                <img src="{% mediapath content.image %}"
                                     class="img-fluid rounded"
                                     alt="...">
                            </div>
                            <div class=" flex-column card-img-overlay">
                                {% if content.is_free %}
                                    <span class="badge rounded-pill bg-primary">Free</span>
                                {% else %}
                                    <span class="badge rounded-pill bg-success">Paid</span>
                                {% endif %}
                            </div>
                            <div class="col-md-7">
                                <p class="card-title fw-bold ">{{ content.title|truncatechars:40 }}</p>
                                <small class="fw-light">{{ content.owner.username }}</small>
                                <p><small
                                        class="fw-light">{{ content.view_count }}
                                    просмотров</small></p>
                                <a href="{% url 'content:content_detail' content.pk %}"
                                   class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
