{% extends 'content/base.html' %}
{% load templatetags %}
{% load crispy_forms_tags %}
{% crispy content_form content.helper %}

{% block content %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-6">
                    {% csrf_token %}
                    {{ form | crispy }}
                </div>
                <div class="col-6">
                    {{ video_formset.management_form }}
                    {% for form in video_formset.forms %}
                        {{ form | crispy }}
                    {% endfor %}
                    {{ product_formset.management_form }}

                    {% for form in product_formset.forms %}
                        {{ form | crispy }}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    {% if not object.pk %}
                        <button class="btn btn-primary" type="submit">Создать
                        </button>
                    {% else %}
                        <button class="btn btn-primary" type="submit">Обновить
                        </button>
                    {% endif %}
                    <button class="btn btn-outline-dark" type="reset">Отмена
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
