{% extends 'content/base.html' %}
{% load templatetags %}

{% block content %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-3">
            {% for content in object_list %}
                <div class="col">
                    <div class="card h-100 g-3 bg-body border-white">
                        <div class="ratio ratio-16x9">
                            <img src="{% mediapath content.image %}"
                                 class="rounded" alt="...">
                        </div>
                        <div class="row justify-content-start">
                            <div class="col-2 pt-2">
                                <img src="{% mediapath content.owner.avatar %}"
                                     alt="..."
                                     width="32"
                                     height="32" class="rounded-circle">
                            </div>
                            <div class="col-10">
                                <p class="card-title fw-bold pt-1">{{ content.title|truncatechars:40 }}</p>
                                <small class="fw-light">{{ content.owner.username }}</small>
                                <p><small
                                        class="fw-light">{{ content.view_count }}
                                    просмотров</small></p>
                            </div>
                        </div>
                        <a href="{% url 'content:content_detail' content.pk %}"
                           class="stretched-link"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <p class="fs-3 fw-bold">Новое в подписках</p>
        <ul class="nav justify-content-center border-bottom mb-3">
        </ul>
        <div class="row row-cols-1 row-cols-md-4 g-3">
            {% for content in subs_paid %}
                <div class="col">
                    <div class="card h-100 g-3 bg-body border-white">
                        <div class="ratio ratio-16x9">
                            <img src="{% mediapath content.image %}"
                                 class="rounded" alt="...">
                        </div>
                        <div class="row justify-content-start">
                            <div class="col-2 pt-2">
                                <img src="{% mediapath content.owner.avatar %}"
                                     alt="..."
                                     width="32"
                                     height="32" class="rounded-circle">
                            </div>
                            <div class="col-10">
                                <p class="card-title fw-bold pt-1">{{ content.title|truncatechars:40 }}</p>
                                <small class="fw-light">{{ content.owner.username }}</small>
                                <p><small
                                        class="fw-light">{{ content.view_count }}
                                    просмотров</small></p>
                            </div>
                        </div>
                        <a href="{% url 'content:content_detail' content.pk %}"
                           class="stretched-link"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <p class="fs-3 fw-bold">Приобретенный контент</p>
        <ul class="nav justify-content-center border-bottom mb-3">
        </ul>
        <div class="row row-cols-1 row-cols-md-4 g-3">
            {% for content in purchased %}
                <div class="col">
                    <div class="card h-100 g-3 bg-body border-white">
                        <div class="ratio ratio-16x9">
                            <img src="{% mediapath content.image %}"
                                 class="rounded" alt="...">
                        </div>
                        <div class="row justify-content-start">
                            <div class="col-2 pt-2">
                                <img src="{% mediapath content.owner.avatar %}"
                                     alt="..."
                                     width="32"
                                     height="32" class="rounded-circle">
                            </div>
                            <div class="col-10">
                                <p class="card-title fw-bold pt-1">{{ content.title|truncatechars:40 }}</p>
                                <small class="fw-light">{{ content.owner.username }}</small>
                                <p><small
                                        class="fw-light">{{ content.view_count }}
                                    просмотров</small></p>
                            </div>
                        </div>
                        <a href="{% url 'content:content_detail' content.pk %}"
                           class="stretched-link"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}